@model Core.Models.Araba

@{
    ViewData["Title"] = "Sil";
}

<h1 class="text-center text-danger my-4">Sil</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-warning text-center">
                <h4>Bu öğeyi silmek istediğinizden emin misiniz?</h4>
            </div>
            <table class="table table-bordered text-white" style="background-color: rgba(255, 255, 255, 0.2);">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">
                            <h4>Araba Bilgileri</h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Marka -->
                    <tr>
                        <th style="width: 30%;">Marka</th>
                        <td>@Html.DisplayFor(model => model.Marka)</td>
                    </tr>

                    <!-- Model -->
                    <tr>
                        <th>Model</th>
                        <td>@Html.DisplayFor(model => model.Model)</td>
                    </tr>

                    <!-- Kilometre -->
                    <tr>
                        <th>Kilometre</th>
                        <td>@Html.DisplayFor(model => model.Km)</td>
                    </tr>

                    <!-- İşlem -->
                    <tr>
                        <th>İşlem</th>
                        <td>@Html.DisplayFor(model => model.Islem)</td>
                    </tr>

                    <!-- Tarih -->
                    <tr>
                        <th>Tarih</th>
                        <td>@Html.DisplayFor(model => model.Tarih)</td>
                    </tr>

                    <!-- Müşteri -->
                    <tr>
                        <th>Müşteri</th>
                        <td>@Html.DisplayFor(model => model.Musteri.Isim)</td>
                    </tr>
                </tbody>
            </table>

            <form asp-action="Delete" class="text-center mt-4">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Sil" class="btn btn-danger btn-sm shadow-sm rounded-pill" />
                <a asp-action="Index" class="btn btn-link text-white">Listeye Dön</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
