@model IEnumerable<Core.Models.Araba>

@{
    ViewData["Title"] = "Araba Listesi";
}

<h1 style="color:aliceblue" class="text-center mb-4">Araba Listesi</h1>

<p>
    <a asp-action="Index" asp-route-sortOrder="MarkaAsc">Marka (A-Z)</a> 
    <a asp-action="Index" asp-route-sortOrder="MarkaDesc">Marka (Z-A)</a>
</p>
<table style="background-color: rgba(255,255,255,0.3) " class="table table-hover kutu">
    <thead class="text-center" style="font-size:large">
        <tr class="text-center" style="color:aliceblue">
            <th class="text-center">Marka</th>
            <th class="text-center">Model</th>
            <th class="text-center">Kilometre</th>
            <th class="text-center">İşlem</th>
            <th class="text-center">Tarih</th>
            <th class="text-center">Müşteri</th> <!-- Müşteri Kolonu -->
            <th class="text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var araba in Model)
        {
            <tr style="color:aliceblue" class="text-center">
                <td class="text-center">@araba.Marka</td>
                <td class="text-center">@araba.Model</td>
                <td class="text-center">@araba.Km</td>
                <td class="text-center">@araba.Islem</td>
                <td class="text-center">@araba.Tarih.ToString("dd/MM/yyyy")</td>

                <!-- Müşteri Bilgisi Kontrolü -->
                <td class="text-center">
                    @if (araba.MusteriId != null)
                    {
                        <span>@araba.Musteri.Isim</span> <span>@araba.Musteri.Soyisim</span>
                    }
                    else
                    {
                        <span class="text-warning">Müşteri Girilmemiş!</span>
                    }
                </td>

                <!-- İşlem butonları -->
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@araba.Id" class="btn btn-warning btn-sm">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@araba.Id" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center mt-4">
    <a asp-action="Create" class="btn btn-success btn-lg shadow-sm rounded-pill" style="background-color:darkorchid;">Yeni Müşteri Ekle</a>
</p>